# Git
.git/
.gitignore

# IDE
.vs/
.vscode/
.idea/

# Build output
**/bin/
**/obj/
**/publish/
**/artifacts/
TestResults/

# Node
**/node_modules/
**/dist/
**/build/

# OS trash
.DS_Store
Thumbs.db

# Docs/CI, не нужные в образе
.github/
