# docker compose --project-directory . -f deploy\docker-compose-dev.yaml up -d --build

services:
    catalog_db:
        container_name: catalog-db-dev
        image: postgres
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=12345678
            - POSTGRES_DB=catalog-db
        restart: always
        ports:
            - "7101:5432"
        volumes:
            - postgres_catalog:/var/lib/postgresql
    
    basket_db:
        container_name: basket-db-dev
        image: postgres
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=12345678
            - POSTGRES_DB=basket-db
        restart: always
        ports:
            - "7102:5432"
        volumes:
            - postgres_basket:/var/lib/postgresql

    basket_redis:
        container_name: basket-redis-dev
        image: redis
        command: redis-server --requirepass "12345678" --protected-mode no
        restart: always
        ports:
            - "7122:6379"
        volumes:
            - redis_basket:/data

# promotion grpc
    promotion_db:
        container_name: promotion_db-dev
        image: mysql:8.0
        environment:
            - MYSQL_ROOT_PASSWORD=12345678
            - MYSQL_DATABASE=promotion-db
        restart: always
        ports:
            - "7103:3306"
        volumes:
            - mysql_promotion:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p12345678"]
            interval: 2s
            timeout: 2s
            retries: 10

    # promotion_api:
    #     container_name: promotion-api
    #     build:
    #         context: .
    #         dockerfile: ./src/Services/Promotion/Promotion.Grpc/Dockerfile
    #         args:
    #           - BUILDKIT_INLINE_CACHE=0
    #     ports:
    #       - "7003:8080"
    #       - "7013:8081"
    #     environment:
    #       - ASPNETCORE_ENVIRONMENT=Production
    #     depends_on:
    #       promotion_db:
    #         condition: service_healthy
    #     restart: unless-stopped

# Checkout api
    checkout_db:
        container_name: checkout-db-dev
        image: postgres
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=12345678
            - POSTGRES_DB=checkout-db
        ports:
          - "7104:5432"
        restart: always
        volumes:
            - postgres_checkout:/var/lib/postgresql

# Rabbit Mq
    rabbit_mq:
        container_name: rabbit-mq-dev
        image: rabbitmq:3-management
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASSWORD=guest
        ports:
          - "5672:5672"
          - "15672:15672"
        restart: always
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
            interval: 2s
            timeout: 2s
            retries: 15

volumes:
    postgres_catalog:    
    postgres_basket:
    redis_basket:
    mysql_promotion:
    postgres_checkout:
    rabbitmq_data: